Assignment Tasks on String Escape Characters, Indexing, and Slicing:

**String Escape Characters:**

Task 1:
1. Create a string containing a sentence that includes both single and double quotes.


2. Use escape characters to include quotes within the string.
3. Print the modified string.

Task 2:
1. Declare a string with a backslash \ character in it.
2. Demonstrate the use of the escape character to print the backslash itself.
3. Print the resulting string.

Task 3:
1. Construct a string containing newline and tab escape sequences.
2. Print the string to display the formatted output.

**Indexing and Slicing:**

Task 4:
1.  sentence = "I want to become Data Scientist".
2. Access and print the `first character` of the string using indexing.
3. Access and print the `last character` of the string using negative indexing.

Task 5:
1. What are `possible ways` yo extract `Scientist`(use forward and reverse)
2. Use slicing to extract and print the `first word` from the string.
3. Use slicing to extract and print the `last three` characters of the string.

Task 6:
1. name = "Innomatics Reserach Labs"
2. Apply slicing to extract a substring that includes the `second to fifth` characters.
3. `Print` the extracted substring.

Task 7:
1. string = "Python@1234"
2. Use slicing to extract every second character from the string.
3. Print the resulting sliced string.

Task 8:
1.  print last five letters.
2. Utilize slicing to reverse the word order in the string.
3. Print the string with the words in the reversed order.

Task 9:
1. a = "123123123"
2. Apply slicing to extract only the numeric characters at odd positions.
3. Print the sliced result.

Remember to include explanations or comments for each task's code to ensure clarity. Additionally, encourage students to experiment further with different escape characters and slicing techniques beyond the provided tasks to deepen their understanding.

## task 1

1. Create a string containing a sentence that includes both single and double quotes.
2. Use escape characters to include quotes within the string.
3. Print the modified string.

#### single quote

In [9]:
name = "this is a 'lenova' laptop"

In [10]:
print(name)

this is a 'lenova' laptop

#### double qoute

In [13]:
name1 = "this is a \"lenova\" laptop"

In [14]:
print(name1)

this is a "lenova" laptop

## Task 2

1. Declare a string with a backslash \ character in it.
2. Demonstrate the use of the escape character to print the backslash itself.
3. Print the resulting string.

In [18]:
str = "add backslash\\ in a string"

In [19]:
print (str)

add backslash\ in a string

## Task 3

1. Construct a string containing newline and tab escape sequences.
2. Print the string to display the formatted output.

In [20]:
name = "Iam a data scientist\nIam a data analyst"

In [21]:
print(name)

Iam a data scientist
Iam a data analyst

In [44]:
name = "Iam\ta\tdata\tscientist\tIam\ta\tdata\tanalyst"

In [45]:
print(name)

Iam	a	data	scientist	Iam	a	data	analyst

## Task 4

1.  sentence = "I want to become Data Scientist".
2. Access and print the `first character` of the string using indexing.
3. Access and print the `last character` of the string using negative indexing.

In [22]:
sentence = "I want to become Data Scientist"

In [25]:
sentence[0]

'I'

In [26]:
sentence = "I want to become Data Scientist"

In [27]:
sentence[-1]

't'

## Task 5

1. What are `possible ways` yo extract `Scientist`(use forward and reverse)
2. Use slicing to extract and print the `first word` from the string.
3. Use slicing to extract and print the `last three` characters of the string.

In [28]:
sentence = "I want to become Data Scientist"

In [56]:
sentence[22:32:1]

'Scientist'

In [57]:
sentence[-1:-9:-1]

'tsitneic'

In [58]:
sentence[0:1]

'I'

In [61]:
sentence[28::]

'ist'

## task 6

1. name = "Innomatics Reserach Labs"
2. Apply slicing to extract a substring that includes the `second to fifth` characters.
3. `Print` the extracted substring.

In [1]:
name = "Innomatics Reserach Labs"

In [8]:
name[1:5:1]

'nnom'

In [11]:
print(name[1:5:1])

nnom

## Task 7
1. string = "Python@1234"
2. Use slicing to extract every second character from the string.
3. Print the resulting sliced string.

In [13]:
string = "Python@123"

In [15]:
string[1::2]

'yhn13'

In [16]:
print(string[1::2])

yhn13

## task 8

In [29]:
name = "Welcome India"

In [31]:
name[13::-1]

'aidnI emocleW'

## task 9

a = "123123123"


Apply slicing to extract only the numeric characters at odd positions. 

Print the sliced result.

In [38]:
a = "123123123"

In [39]:
a[1:9:2]

'2132'

In [40]:
print(a[1:9:2])

2132