1. Ask user to  enter a  website name and check whether it is valid or not(True/False)


2. name = "Innomatics", course = "Data Science"
   write python code in `different ways` to show output as :
   `"Hello World I am learning Data Science in Innomatics"`
   
   
3. Replace `Science` with `Analysis` in the above output.


4. `string = '     Hello World I am learning Python in Innomatics   '`
    a. How many characters are there in the string.
    b. Slice only 'Python' from above string
    c. Remove white spaces on both sides then find no.of characters in the string.
    d. Convert the string in Upper case
    
    
5. What is the index number of 'World' in above string.


6. Split the string with respect to `whitespace`.after that `store` that splitted into a variable and find the `data type`of that variable.


7. How many times 'a' is `repeated` in above string.

8.

## task 4

In [ ]:
1. Ask user to  enter a  website name and check whether it is valid or not(True/False)

In [3]:
website = input("enter the website name")

enter the website namewww.innomatics.com

In [4]:
(website.startswith("www")) and (website.endswith(".com"))

True

In [ ]:
2. name = "Innomatics", course = "Data Science"
   write python code in `different ways` to show output as :
   `"Hello World I am learning Data Science in Innomatics"`

In [22]:
name = "Innomatics"
course = "Data Science"

### method 1

In [24]:
print(" Hello World Iam learning " + course + " in " + name )

 Hello World Iam learning Data Science in Innomatics

### method 2 |

In [29]:
print("Hello World Iam learning", course, "in", name)

Hello World Iam learning Data Science in Innomatics

### method 3

In [39]:
print("Hello World Iam learning {} in {} ".format(course,name))

Hello World Iam learning Data Science in Innomatics

### method 4

In [43]:
print(f"Hello World Iam learning {course} in {name}")

Hello World Iam learning Data Science in Innomatics

## 3.

In [ ]:
3. Replace `Science` with `Analysis` in the above output.

In [45]:
name = "Iam Learning Data Science"

In [46]:
name.replace("Science", "Analysis")

'Iam Learning Data Analysis'

## 4.

In [ ]:
4. `string = '     Hello World I am learning Python in Innomatics   '`
    a. How many characters are there in the string.
    b. Slice only 'Python' from above string
    c. Remove white spaces on both sides then find no.of characters in the string.
    d. Convert the string in Upper case

In [49]:
string = '     Hello World I am learning Python in Innomatics   '

In [50]:
len(string)

54

In [ ]:
string = '     Hello World I am learning Python in Innomatics   '

In [59]:
string[31:37:1]

'Python'

In [62]:
string

'     Hello World I am learning Python in Innomatics   '

In [67]:
string.strip()

'Hello World I am learning Python in Innomatics'

In [69]:
string.upper()

'     HELLO WORLD I AM LEARNING PYTHON IN INNOMATICS   '

5. What is the index number of 'World' in above string.

In [10]:
string = "Hello World I am Learning Python in Innomatics"

In [16]:
string.index("World")

6

6. Split the string with respect to `whitespace`.after that `store` that splitted into a variable and find the `data type`of that variable.

In [79]:
string

'     Hello World I am learning Python in Innomatics   '

In [23]:
string.split()

['Hello', 'World', 'Iam', 'learning', 'python', 'in', 'innomatics']

In [24]:
type(name)

list

In [ ]:
7. How many times 'a' is `repeated` in above string.

In [84]:
string

'     Hello World I am learning Python in Innomatics   '

In [86]:
string.count('a')

3