

1. **Print Numbers from 1 to N:**
   Write a Python program that uses a for loop to print all numbers from `1 to N` and `substract 5 `from each number.where N is a `positive integer` entered by the user.

2. **Calculate the Sum of Numbers from 1 to N:**
   Write a Python program that calculates and prints the `sum` of all numbers from `1 to N`, where N is a `positive integer` entered by the user, using a for loop.

3. **Print Even Numbers:**
   Write a Python program that prints all `even numbers` from `50 to 100` using a `for` loop.

4. **Reverse a String:**
   Write a Python program that takes a string as input and uses a `for loop` to print the characters of the string in `reverse order`.

5. **Count Vowels in a String:**
    `name = "innomatics research labs"`
   Write a Python program uses a for loop to count the number of vowels (a, e, i, o, u) in the string. Ignore case sensitivity.

6. **Generate a Multiplication Table:**
   Write a Python program that generates and prints the multiplication table for  6.

Print Numbers from 1 to N: Write a Python program that uses a for loop to print all numbers from 1 to N and substract 5 from each number.where N is a positive integer entered by the user.

In [ ]:
n = int(input("enter a positive number"))

enter a positive number20

In [ ]:
for i in range(1, n):
     print(i - 5)

-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

Calculate the Sum of Numbers from 1 to N: Write a Python program that calculates and prints the sum of all numbers from 1 to N, where N is a positive integer entered by the user, using a for loop.

In [ ]:
sum = 0

In [ ]:
num = int(input("enter a positive integer"))

enter a positive integer4

In [ ]:
for i in range(1, num+1):
    sum = sum + i
print(sum)

16

Print Even Numbers: Write a Python program that prints all even numbers from 50 to 100 using a for loop.

In [ ]:
for i in range(50,100):
      if (i%2 == 0):
             print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

 **Reverse a String:**
   Write a Python program that takes a string as input and uses a `for loop` to print the characters of the string in `reverse order`.

In [ ]:
string = input("enter a string")

enter a stringHello Hyderabad

In [ ]:
for i in string[-1::-1]:
      print(i)

d
a
b
a
r
e
d
y
H

o
l
l
e
H


5. **Count Vowels in a String:**
    `name = "innomatics research labs"`
   Write a Python program uses a for loop to count the number of vowels (a, e, i, o, u) in the string. Ignore case sensitivity.

In [2]:
name = "innomatics research labs"

In [3]:
for i in name:
     if i in ("a", "e", "i" , "o" , "u"):
        print(i)

i
o
a
i
e
e
a
a

6. **Generate a Multiplication Table:**
   Write a Python program that generates and prints the multiplication table for  6.

In [5]:
num = 6
for i in range(1,11):
    print(f" {num} * {i} == {i*6}")

 6 * 1 == 6
 6 * 2 == 12
 6 * 3 == 18
 6 * 4 == 24
 6 * 5 == 30
 6 * 6 == 36
 6 * 7 == 42
 6 * 8 == 48
 6 * 9 == 54
 6 * 10 == 60