

**Assignment Task 1:** Tuple Basics
Create a Python tuple containing the names of your favorite fruits. Write a Python program to print `each fruit` name from the tuple.

**Assignment Task 2:** Tuple Operations
Given two tuples, write a Python program to `concatenate` them into a `single` tuple and then find the `length` of the resulting tuple.

**Assignment Task 3:** Set Creation
Create a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.

**Assignment Task 4:** Set Operations
Given two sets, write a Python program to find the `union, intersection, and difference` of these sets.

**Assignment Task 5:** Tuple and Set Conversion
Write a Python program that takes a `tuple` of integers and converts it into a `set`. Then, find and print the `maximum and minimum` values from the set.

**Assignment Task 6:** Tuple Immutability
Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

**Assignment Task 7:** Set Operations and Methods
Write a Python program that takes a set of numbers and performs the following operations:
   - Add a new number to the set.
   - Remove a number from the set.
   - Check if a specific number is in the set.
   - Find the size of the set.

**Assignment Task 8:** Tuple Slicing
Given a tuple of 10 elements, write a Python program to print the elements from the `3rd to the 7th `position using slicing.

**Assignment Task 9:** Set Operations with Lists
Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

**Assignment Task 10:** Tuple and Set Combinations
Create a `tuple` containing the names of your friend's favorite movies and a `set` containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

* Assignment Task 1: Tuple Basics Create a Python tuple containing the names of your favorite fruits. Write a Python program to print each fruit name from the tuple.

In [9]:
fruits = ("Kiwi", "Berries" ,"Avocado", "Jackfruit", "Banana")

In [10]:
fruits

('Kiwi', 'Berries', 'Avocado', 'Jackfruit', 'Banana')

In [11]:
type(fruits)

tuple

In [12]:
fruits[0]

'Kiwi'

In [13]:
fruits[1]

'Berries'

In [14]:
fruits[2]

'Avocado'

In [15]:
fruits[3]

'Jackfruit'

In [17]:
fruits[4]

'Banana'

*  Task 2: Tuple Operations Given two tuples, write a Python program to concatenate them into a single tuple and then find the length of the resulting tuple.

#### using str

In [ ]:
first = ("How Are you? ")

In [31]:
second = ("How is it going?")

In [32]:
tup = [first+ second]

In [33]:
tup

['Hello How Are you? How is it going?']

In [34]:
len(tup)

1

#### using numbers

In [36]:
T1 = (11,22,33,44,55)
T2 = (21,31,41,51,61,71)

In [37]:
tup = T1 + T2

In [38]:
tup

(11, 22, 33, 44, 55, 21, 31, 41, 51, 61, 71)

In [39]:
len(tup)

11

**Assignment Task 3:** Set Creation
Create a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.

In [21]:
set1 = {2,4,6,8,10,12,14,16,18,20}

In [23]:
print (set1)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

Assignment Task 4: Set Operations Given two sets, write a Python program to find the union, intersection, and difference of these sets.

In [24]:
s1 = {10,20,30,40,50}
s2 = {50,60,70,80,90,100}

### union

In [25]:
s1.union(s2)

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100}

#### intersection

In [26]:
s1.intersection(s2)

{50}

### difference

In [27]:
s1.difference(s2)

{10, 20, 30, 40}

Assignment Task 5: Tuple and Set Conversion Write a Python program that takes a tuple of integers and converts it into a set. Then, find and print the maximum and minimum values from the set.

In [32]:
t = (12,14,16,18,20,21,22,23)

In [33]:
type(t)

tuple

In [34]:
n3 = set(t)

In [35]:
n3

{12, 14, 16, 18, 20, 21, 22, 23}

In [37]:
min(n3)

12

In [38]:
max(n3)

23

Assignment Task 6: Tuple Immutability Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

In [35]:
tb = (22,33,44,55,66)
ta = (11,22,33,44,55)

In [37]:
n = tb + ta

In [61]:
n

(22, 33, 44, 55, 66, 11, 22, 33, 44, 55)

In [64]:
n.count(22)

2

#original input cannot be changed because it is immutable. cannot be changed. we cannot add or remove the elements from the input

In [65]:
n.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [67]:
## example why list and set is mutable

In [57]:
c = [1,2,3,4]

In [58]:
type(c)

list

In [59]:
c.append(60)

In [60]:
c

[1, 2, 3, 4, 60]

In [69]:
## input is 1,2,3,4 after we have did some operation or methods the input c has change to 1,2,3,4,60. it is mutable

Assignment Task 7: Set Operations and Methods Write a Python program that takes a set of numbers and performs the following operations:

Add a new number to the set.
Remove a number from the set.
Check if a specific number is in the set.
Find the size of the set.

In [72]:
s1 = {98,99,89,78,76,87,88}

In [73]:
type(s1)

set

In [74]:
s1.add(100)

In [75]:
s1    ##here 100 is added

{76, 78, 87, 88, 89, 98, 99, 100}

In [76]:
s1.remove(76)

In [77]:
s1    #a number is remioved using remove operation

{78, 87, 88, 89, 98, 99, 100}

In [79]:
type(s1)

set

In [80]:
22 in s1

False

In [81]:
76 in s1   #false becuase 76 is not present

False

In [82]:
78 in s1      # here 78 is present

True

In [83]:
len(s1)

7

Assignment Task 8: Tuple Slicing Given a tuple of 10 elements, write a Python program to print the elements from the 3rd to the 7th position using slicing.

In [95]:
tp = ("aa", "b", "cc", "d", "ee", "f", "g", "hh", "ii", "jj" )

In [96]:
type(tp)

tuple

In [97]:
tp[2:7]   #method 1

('cc', 'd', 'ee', 'f', 'g')

In [98]:
tp[2:7:1]    #Method 2

('cc', 'd', 'ee', 'f', 'g')

In [103]:
tb = tp[-8:-3:1]  #method 3

In [104]:
tb

('cc', 'd', 'ee', 'f', 'g')

Assignment Task 9: Set Operations with Lists Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

In [13]:
list_1 = [22,22,21,32,43,34,55,55,55,55,77]

In [14]:
a=set(list_1)

In [15]:
a

{21, 22, 32, 34, 43, 55, 77}

In [16]:
len(a)

7

In [17]:
len(list_1)

11

In [20]:
no_of_duplicates = len(list_1) - len(a)

In [21]:
no_of_duplicates

4

Assignment Task 10: Tuple and Set Combinations Create a tuple containing the names of your friend's favorite movies and a set containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

In [28]:
frnds_fav = ("RRR", "Eega", "Kantara", "Pushpa")

In [29]:
my_favs = {"Djtillu", "Birdbox","Pushpa","RRR","Sitaramam"}

In [30]:
both=set(frnds_fav)

In [31]:
both

{'Eega', 'Kantara', 'Pushpa', 'RRR'}

In [39]:
my_favs.intersection(both)

{'Pushpa', 'RRR'}