1. **Basic List Comprehension:**
   Write a Python program that uses list comprehension to generate a list of cubes of the first 10 positive integers.

2. **Filtering with List Comprehension:**
   Given a list of integers, create a new list using list comprehension that contains only the multiple of 3 and 5 from the original list.

3. **String Manipulation with List Comprehension:**
   Given a list of strings, create a new list using list comprehension that contains the lengths of each string.


4. **List Comprehension with Conditionals:**
   Given a list of numbers, create a new list using list comprehension that contains the squares of even numbers


5. **Pattern Printing**

    Write a Python program that takes an integer 'n' as input and prints the following pattern:

    For `n = 4`, the pattern should look like this:

    ```
    1
    1 2
    1 2 3
    1 2 3 4
    ```

6. **Multiplication Table**

      Create a Python program that generates and prints a multiplication table for a given number 'n'. The table should include values from 1 to 10.

For example, if `n = 5`, the output should be:

    ```
    5 x 1 = 5
    5 x 2 = 10
    5 x 3 = 15
    5 x 4 = 20
    5 x 5 = 25
    5 x 6 = 30
    5 x 7 = 35
    5 x 8 = 40
    5 x 9 = 45
    5 x 10 = 50
    ```

7. **Star Patterns**

    Write a Python program that takes an integer 'n' as input and prints the following patterns:

    a) Right-angled triangle pattern:
    ```
    *
    **
    ***
    ****
    *****
    ```

    b) Inverted right-angled triangle pattern:
    ```
    *****
    ****
    ***
    **
    *
    ```


8. **Number Pyramid**

    Create a Python program that takes an integer 'n' as input and prints a number pyramid as shown below:

    For `n = 4`, the output should be:

    ```
       1
      212
     32123
    4321234
    ```

Basic List Comprehension: Write a Python program that uses list comprehension to generate a list of cubes of the first 10 positive integers.

In [ ]:
[i ** 3 for i in range(1,10)]

[1, 8, 27, 64, 125, 216, 343, 512, 729]

List Comprehension with Conditionals: Given a list of numbers, create a new list using list comprehension that contains the squares of even numbers

In [ ]:
[i * i for i in range(0, 10,2)]

[0, 4, 16, 36, 64]

String Manipulation with List Comprehension: Given a list of strings, create a new list using list comprehension that contains the lengths of each string.

In [ ]:
a = ["hi", "how", "are", "you"]

In [ ]:
[len(i) for i in a ]

[2, 3, 3, 3]

Filtering with List Comprehension: Given a list of integers, create a new list using list comprehension that contains only the multiple of 3 and 5 from the original list.

#for the given integers

In [6]:
n = [3, 4, 5, 9, 15, 20, 30, 34, 33, 35, 39, 45, 47, 49]

In [7]:
[i for i in n if (i%3==0 and i%5 == 0)]

[15, 30, 45]

In [8]:
[i for i in range(1, 50) if i%3 == 0 and i%5 == 0]

[15, 30, 45]

Pattern Printing
Write a Python program that takes an integer 'n' as input and prints the following pattern:
For n = 4, the pattern should look like this:

 1

 1 2

 1 2 3

 1 2 3 4

In [13]:
n = int(input("enter a number: "))

enter a number: 4

In [31]:
for i in range(1,n+1):
        for j in range(1,i+1):
            print(j, end = '')
        print()

1
12
123
1234

Multiplication Table
Create a Python program that generates and prints a multiplication table for a given number 'n'. The table should include values from 1 to 10.
For example, if n = 5, the output should be:
```
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [2]:
n = int(input("enter a number: "))

enter a number: 6

In [3]:
for i in range(1,11):
    print(f" {n} * {i} = {n*i}")

 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 6 * 10 = 60

Star Patterns
Write a Python program that takes an integer 'n' as input and prints the following patterns:
a) Right-angled triangle pattern:

In [ ]:
n = int(input("enter a number "))

enter a number 6

In [ ]:
for i in range(1,n+1):
     print("*"* i)

*
**
***
****
*****
******

b) Inverted right-angled triangle pattern:

In [ ]:
for i in range(6, 0,-1):
     print("*"* i)

******
*****
****
***
**
*

Number Pyramid
Create a Python program that takes an integer 'n' as input and prints a number pyramid as shown below:
For n = 4, the output should be:

   1

  212

 32123

4321234

In [33]:
num = int(input("enter a number: "))

enter a number: 5

In [34]:
for i in range(1,num+1):
    for j in range(1,num-i+1):   
        print(end = " ")
    for j in range(i,0,-1):
        print(j,end = "")      
    for j in range(2,i+1):
        print(j,end = "")      
    print()

enter a no of rows::5
    1
   212
  32123
 4321234
543212345