a. Kindly fill the missing values with

value

Statistical value

Filling  method

B) Create pivot table for  position and average salary.

C) Group the data using group by as per gender  and average age.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel(r"C:\Users\india\My Python Files\ethnic_diversity.xlsx")

In [3]:
df.head()

,Employee_Name,EmpID,Position,State,Zip,Gender,MaritalDesc,CitizenDesc,EmploymentStatus,Department,Salaries,age,Race
0,"Brown, Mia",1103024456,Accountant I,MA,1450.0,F,Married,US Citizen,Active,Admin Offices,674.28,28,Black or African American
1,"LaRotonda, William",1106026572,Accountant I,MA,1460.0,M,Divorced,US Citizen,Active,Admin Offices,674.28,50,NaN
2,"Steans, Tyrone",1302053333,Accountant I,MA,2703.0,M,Single,US Citizen,Active,Admin Offices,674.28,43,White
3,"Howard, Estelle",1211050782,Administrative Assistant,MA,2170.0,F,Married,US Citizen,Terminated for Cause,Admin Offices,NaN,44,White
4,"Singh, Nan",1307059817,Administrative Assistant,MA,2330.0,F,Single,US Citizen,Active,Admin Offices,61089.35,33,White

In [4]:
df.tail()

,Employee_Name,EmpID,Position,State,Zip,Gender,MaritalDesc,CitizenDesc,EmploymentStatus,Department,Salaries,age,Race
305,"Daniele, Ann",1411071312,Sr. Network Engineer,CT,6033.0,F,Married,US Citizen,Leave of Absence,IT/IS,37619.01,38,White
306,"Lajiri, Jyoti",1108028108,Sr. Network Engineer,MA,2169.0,M,Married,US Citizen,Leave of Absence,IT/IS,27603.00,34,White
307,"Semizoglou, Jeremiah",904013591,Sr. Network Engineer,MA,1545.0,M,Married,US Citizen,Future Start,IT/IS,27587.46,24,Asian
308,"South, Joe",1308060959,Sr. Network Engineer,CT,6278.0,M,Single,US Citizen,Active,IT/IS,12126.53,31,White
309,"Warfield, Sarah",1301052347,Sr. Network Engineer,MA,2453.0,F,Widowed,US Citizen,Active,IT/IS,37257.00,46,Asian

In [5]:
df.isnull().sum()

Employee_Name        0
EmpID                0
Position             3
State                2
Zip                  2
Gender               7
MaritalDesc          9
CitizenDesc          3
EmploymentStatus     0
Department           5
Salaries            12
age                  0
Race                 9
dtype: int64

In [6]:
df['Position'].isna().sum()

3

In [7]:
#missing value using statistical methods

In [8]:
df['Position'].mode()[0]

'Production Technician I'

In [9]:
df['Position'].fillna(df['Position'].mode()[0],inplace = True)

In [10]:
#using filling method

In [11]:
df['Position'].fillna(method = 'bfill',inplace = True)

C:\Users\india\AppData\Local\Temp\ipykernel_7752\600895570.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Position'].fillna(method = 'bfill',inplace = True)

In [12]:
#using using value

In [13]:
df['Position'].fillna('Accountant I')

0                  Accountant I
1                  Accountant I
2                  Accountant I
3      Administrative Assistant
4      Administrative Assistant
                 ...
305        Sr. Network Engineer
306        Sr. Network Engineer
307        Sr. Network Engineer
308        Sr. Network Engineer
309        Sr. Network Engineer
Name: Position, Length: 310, dtype: object

In [14]:
df['Position'].isna().sum()

0

In [15]:
#using filling

In [16]:
df['State'].fillna(method = 'ffill', inplace = True)

C:\Users\india\AppData\Local\Temp\ipykernel_7752\883865845.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['State'].fillna(method = 'ffill', inplace = True)

In [17]:
df['State'].isna().sum()

0

In [18]:
#using statistical

In [19]:
df["State"].fillna(df["State"].mode()[0])

0      MA
1      MA
2      MA
3      MA
4      MA
       ..
305    CT
306    MA
307    MA
308    CT
309    MA
Name: State, Length: 310, dtype: object

In [20]:
df["State"].fillna('MA')

0      MA
1      MA
2      MA
3      MA
4      MA
       ..
305    CT
306    MA
307    MA
308    CT
309    MA
Name: State, Length: 310, dtype: object

In [21]:
#using filling

In [22]:
df['Zip'].fillna(method = 'ffill')

C:\Users\india\AppData\Local\Temp\ipykernel_7752\2124231562.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Zip'].fillna(method = 'ffill')

0      1450.0
1      1460.0
2      2703.0
3      2170.0
4      2330.0
        ...
305    6033.0
306    2169.0
307    1545.0
308    6278.0
309    2453.0
Name: Zip, Length: 310, dtype: float64

In [23]:
df['Zip'].median()

2132.0

In [24]:
df['Zip'].fillna(df['Zip'].median(),inplace = True)  #using statistical

In [25]:
df["Zip"].isnull().sum()

0

In [26]:
#using value

In [27]:
df['Zip'].fillna(2000,inplace = True)

In [28]:
#using filling

In [29]:
df["Gender"].fillna(method = 'bfill')

C:\Users\india\AppData\Local\Temp\ipykernel_7752\1073530845.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Gender"].fillna(method = 'bfill')

0       F
1      M
2      M
3       F
4       F
       ..
305     F
306    M
307    M
308    M
309     F
Name: Gender, Length: 310, dtype: object

In [30]:
df['Gender'].mode()[0]  #using statistical

'F'

In [31]:
df['Gender'].fillna(df['Gender'].mode()[0],inplace = True)

In [32]:
df['Gender'].fillna('F')  #using value

0       F
1      M
2      M
3       F
4       F
       ..
305     F
306    M
307    M
308    M
309     F
Name: Gender, Length: 310, dtype: object

In [33]:
df['MaritalDesc']

0       Married
1      Divorced
2        Single
3       Married
4        Single
         ...
305     Married
306     Married
307     Married
308      Single
309     Widowed
Name: MaritalDesc, Length: 310, dtype: object

In [34]:
df['MaritalDesc'].fillna(method = 'ffill')  #using filling

C:\Users\india\AppData\Local\Temp\ipykernel_7752\991034569.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['MaritalDesc'].fillna(method = 'ffill')  #using filling

0       Married
1      Divorced
2        Single
3       Married
4        Single
         ...
305     Married
306     Married
307     Married
308      Single
309     Widowed
Name: MaritalDesc, Length: 310, dtype: object

In [35]:
df['MaritalDesc'].mode()[0]

'Single'

In [36]:
df['MaritalDesc'].fillna(df['MaritalDesc'].mode()[0], inplace = True)

In [37]:
df['MaritalDesc'].fillna('Single')

0       Married
1      Divorced
2        Single
3       Married
4        Single
         ...
305     Married
306     Married
307     Married
308      Single
309     Widowed
Name: MaritalDesc, Length: 310, dtype: object

In [38]:
df['CitizenDesc'].fillna(method = 'ffill')

C:\Users\india\AppData\Local\Temp\ipykernel_7752\207459253.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['CitizenDesc'].fillna(method = 'ffill')

0      US Citizen
1      US Citizen
2      US Citizen
3      US Citizen
4      US Citizen
          ...
305    US Citizen
306    US Citizen
307    US Citizen
308    US Citizen
309    US Citizen
Name: CitizenDesc, Length: 310, dtype: object

In [39]:
df['CitizenDesc'].fillna('US Citizen')

0      US Citizen
1      US Citizen
2      US Citizen
3      US Citizen
4      US Citizen
          ...
305    US Citizen
306    US Citizen
307    US Citizen
308    US Citizen
309    US Citizen
Name: CitizenDesc, Length: 310, dtype: object

In [40]:
df['CitizenDesc'].mode()[0]

'US Citizen'

In [41]:
df['CitizenDesc'].fillna(df['CitizenDesc'].mode()[0], inplace = True)

In [42]:
df.isnull().sum()

Employee_Name        0
EmpID                0
Position             0
State                0
Zip                  0
Gender               0
MaritalDesc          0
CitizenDesc          0
EmploymentStatus     0
Department           5
Salaries            12
age                  0
Race                 9
dtype: int64

In [43]:
df['Department'].fillna(method = 'bfill')

C:\Users\india\AppData\Local\Temp\ipykernel_7752\3109979669.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Department'].fillna(method = 'bfill')

0      Admin Offices
1      Admin Offices
2      Admin Offices
3      Admin Offices
4      Admin Offices
           ...
305            IT/IS
306            IT/IS
307            IT/IS
308            IT/IS
309            IT/IS
Name: Department, Length: 310, dtype: object

In [44]:
df['Department'].fillna('IT/IS')

0      Admin Offices
1      Admin Offices
2      Admin Offices
3      Admin Offices
4      Admin Offices
           ...
305            IT/IS
306            IT/IS
307            IT/IS
308            IT/IS
309            IT/IS
Name: Department, Length: 310, dtype: object

In [45]:
df['Department'].mode()[0]

'Production       '

In [46]:
df['Department'].fillna(df['Department'].mode()[0], inplace = True)

In [47]:
df.isnull().sum()

Employee_Name        0
EmpID                0
Position             0
State                0
Zip                  0
Gender               0
MaritalDesc          0
CitizenDesc          0
EmploymentStatus     0
Department           0
Salaries            12
age                  0
Race                 9
dtype: int64

In [48]:
df['Salaries'].fillna(method = 'bfill')

C:\Users\india\AppData\Local\Temp\ipykernel_7752\1674097389.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Salaries'].fillna(method = 'bfill')

0        674.28
1        674.28
2        674.28
3      61089.35
4      61089.35
         ...
305    37619.01
306    27603.00
307    27587.46
308    12126.53
309    37257.00
Name: Salaries, Length: 310, dtype: float64

In [49]:
df["Salaries"].median()

34554.744999999995

In [50]:
df["Salaries"].fillna(df["Salaries"].median(), inplace = True)

In [51]:
df.isnull().sum()

Employee_Name       0
EmpID               0
Position            0
State               0
Zip                 0
Gender              0
MaritalDesc         0
CitizenDesc         0
EmploymentStatus    0
Department          0
Salaries            0
age                 0
Race                9
dtype: int64

In [52]:
df["Salaries"].fillna(30000)

0        674.280
1        674.280
2        674.280
3      34554.745
4      61089.350
         ...
305    37619.010
306    27603.000
307    27587.460
308    12126.530
309    37257.000
Name: Salaries, Length: 310, dtype: float64

In [53]:
df['Race'].fillna(method = 'bfill')

C:\Users\india\AppData\Local\Temp\ipykernel_7752\1708667718.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Race'].fillna(method = 'bfill')

0      Black or African American
1                          White
2                          White
3                          White
4                          White
                 ...
305                        White
306                        White
307                        Asian
308                        White
309                        Asian
Name: Race, Length: 310, dtype: object

In [54]:
df['Race'].mode()[0]

'White'

In [55]:
df['Race'].fillna(df['Race'].mode()[0], inplace = True)

In [56]:
df['Race'].fillna('Asian')

0      Black or African American
1                          White
2                          White
3                          White
4                          White
                 ...
305                        White
306                        White
307                        Asian
308                        White
309                        Asian
Name: Race, Length: 310, dtype: object

In [57]:
df.isnull().sum()

Employee_Name       0
EmpID               0
Position            0
State               0
Zip                 0
Gender              0
MaritalDesc         0
CitizenDesc         0
EmploymentStatus    0
Department          0
Salaries            0
age                 0
Race                0
dtype: int64

In [64]:
df.pivot_table(values ='Salaries', columns = 'Position', aggfunc = 'mean')

Position,Accountant I,Administrative Assistant,Area Sales Manager,BI Developer,BI Director,CIO,Data Analyst,Data Analyst,Data Architect,Database Administrator,...,Production Technician I,Production Technician II,Sales Manager,Senior BI Developer,Shared Services Manager,Software Engineer,Software Engineering Manager,Sr. Accountant,Sr. DBA,Sr. Network Engineer
Salaries,674.28,42683.371667,41770.737593,36726.01875,4160.0,26418.01,37772.945714,42304.75,90016.01,33813.996,...,35094.172574,33803.863333,34093.246667,71293.676667,45262.975,39892.308889,40208.0,27349.755,31954.975,28438.6

In [68]:
df.groupby(by = 'Gender')['age'].mean()

Gender
F     38.670391
M     38.732824
Name: age, dtype: float64