# pandas Series
1. Create pandas series with different `data types` in `different ways`
2. Find the `attributes` of Series of [10,30,40,1,3,6,14,18,23] with index starts from `100`
3. create salaries of `30 employee salaries randomly from 30000-90000` then `measure and describe` the data using pandas series.
4. What are the `similaraties` and `differences` between pandas series and nnumpy array.Prove it with code.
5. create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

#### Create pandas series with different data types in different ways

In [1]:
import pandas as pd

In [2]:
# using list

In [3]:
a = [1,2,3,4,5,6,7,8,9,10]

In [4]:
pd.Series(a)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
a1 = list(range(1,11))
pd.Series(a1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [6]:
#using tuple

In [7]:
t = (10,20,30,40,50)

In [8]:
pd.Series(t)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [9]:
#using dictionary

In [10]:
elements = {1:'earth', 2:'water', 3:'fire', 4:'air', 5:'ether'}

In [11]:
pd.Series(elements)

1    earth
2    water
3     fire
4      air
5    ether
dtype: object

In [12]:
#using random

In [13]:
import numpy as np

In [14]:
a = np.random.randint(100,200,10)

In [15]:
pd.Series(a)

0    128
1    152
2    177
3    136
4    133
5    156
6    188
7    168
8    170
9    125
dtype: int32

#### Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100

In [16]:
A = [10,30,40,1,3,6,14,18,23] 
B = len(A)

In [17]:
A = pd.Series(A,index = list(range(100,100+B)))
A

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int64

In [18]:
A.dtype

dtype('int64')

In [19]:
A.describe()

count     9.000000
mean     16.111111
std      13.033078
min       1.000000
25%       6.000000
50%      14.000000
75%      23.000000
max      40.000000
dtype: float64

In [20]:
A.head(5)

100    10
101    30
102    40
103     1
104     3
dtype: int64

In [21]:
A.tail(5)

104     3
105     6
106    14
107    18
108    23
dtype: int64

In [22]:
A.memory_usage()

144

In [23]:
A.info()

<class 'pandas.core.series.Series'>
Index: 9 entries, 100 to 108
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int64
dtypes: int64(1)
memory usage: 144.0 bytes

#### create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series.

In [24]:
salary = np.random.randint(30000,90000,30)
salary

array([52451, 55463, 46400, 74614, 88994, 47064, 55248, 36131, 31803,
       51326, 67051, 82884, 76431, 66697, 63056, 79718, 81033, 80893,
       42396, 45956, 42107, 46968, 79475, 44364, 78259, 55039, 87578,
       87588, 30791, 69056])

In [25]:
salary = pd.Series(salary,index = list(range(1,30+1)))
salary

1     52451
2     55463
3     46400
4     74614
5     88994
6     47064
7     55248
8     36131
9     31803
10    51326
11    67051
12    82884
13    76431
14    66697
15    63056
16    79718
17    81033
18    80893
19    42396
20    45956
21    42107
22    46968
23    79475
24    44364
25    78259
26    55039
27    87578
28    87588
29    30791
30    69056
dtype: int32

In [26]:
salary.mean()

61561.13333333333

In [27]:
salary.median()

59259.5

In [28]:
salary.mode()   #no repeated values

0     30791
1     31803
2     36131
3     42107
4     42396
5     44364
6     45956
7     46400
8     46968
9     47064
10    51326
11    52451
12    55039
13    55248
14    55463
15    63056
16    66697
17    67051
18    69056
19    74614
20    76431
21    78259
22    79475
23    79718
24    80893
25    81033
26    82884
27    87578
28    87588
29    88994
dtype: int32

In [29]:
salary.var()

326709446.4643678

In [30]:
salary.std()

18075.10571101502

In [31]:
salaryrange = max(salary)- min(salary)
salaryrange

58203

In [32]:
salary.describe()

count       30.000000
mean     61561.133333
std      18075.105711
min      30791.000000
25%      46542.000000
50%      59259.500000
75%      79171.000000
max      88994.000000
dtype: float64

In [33]:
salary.quantile(0.25)

46542.0

In [34]:
salary.quantile(0.75)

79171.0

In [35]:
salary.describe()

count       30.000000
mean     61561.133333
std      18075.105711
min      30791.000000
25%      46542.000000
50%      59259.500000
75%      79171.000000
max      88994.000000
dtype: float64

#### What are the similaraties and differences between pandas series and numpy array.Prove it with code.

* Numpy deals with numerical values only

* Pandas deals with numerical values and string values

In [36]:
salary   #pandas series has index numbers for assigned values

1     52451
2     55463
3     46400
4     74614
5     88994
6     47064
7     55248
8     36131
9     31803
10    51326
11    67051
12    82884
13    76431
14    66697
15    63056
16    79718
17    81033
18    80893
19    42396
20    45956
21    42107
22    46968
23    79475
24    44364
25    78259
26    55039
27    87578
28    87588
29    30791
30    69056
dtype: int32

In [37]:
salary.ndim   #pandas series has 1-dimensional

1

In [38]:
salaries = np.array([1,2,3,4,5,6,7,8,9],ndmin = 3)
salaries   #numpy doesnt has index numbers

array([[[1, 2, 3, 4, 5, 6, 7, 8, 9]]])

In [39]:
salaries.ndim    #numpy is a n-dimensional

3

#### create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

In [40]:
numbers = list(range(100,150+1))
numbers

[100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150]

In [41]:
num = pd.Series(numbers)

In [42]:
num[48] #indexing

148

In [43]:
num[10:50:5]   #slicing

10    110
15    115
20    120
25    125
30    130
35    135
40    140
45    145
dtype: int64