### Data Manipulation

In [ ]:
1. Find all Statistic Measures
2. Which subject has highest average ?
3. What are the Student IDs who got more tham 80% GPA?
4. How many female students are there in the class?
5. What is the ratio of male students and female students?
6. What are the marks of male students in statistics ?
7. What is the ID of the class topper ?
8. What is the gender of probabilty topper?
9. Create Pivot Table for gender and class?
10. Which subject got least average marks.?
11. How many male and female students are there ?
12. How many female student are there from class A?
13. Which class has more strength ?
14.Sort the data as per algebra ?
15. How many students got exactly 64 marks from functional analysis?

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\\Users\\india\\My Python Files\\studens_data.csv")

In [3]:
df

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51
4,1145,A,female,70.11,49,45,63,60,66,66,61
...,...,...,...,...,...,...,...,...,...,...,...
100,1241,A,female,88.34,87,83,92,98,93,86,90
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

1. Find all Statistic Measures

In [4]:
df.describe()

,ID,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
count,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000
mean,1193.000000,82.957048,76.057143,71.961905,78.942857,85.133333,83.876190,80.761905,75.323810
std,30.454885,6.053187,11.722618,12.197039,14.997326,10.269509,10.514363,10.296119,13.003324
min,1141.000000,63.490000,46.000000,38.000000,17.000000,51.000000,29.000000,54.000000,9.000000
25%,1167.000000,79.340000,67.000000,64.000000,71.000000,80.000000,79.000000,74.000000,67.000000
50%,1193.000000,84.110000,76.000000,73.000000,83.000000,87.000000,85.000000,81.000000,76.000000
75%,1219.000000,87.300000,84.000000,80.000000,91.000000,92.000000,92.000000,89.000000,85.000000
max,1245.000000,93.710000,98.000000,100.000000,99.000000,100.000000,97.000000,100.000000,100.000000

In [5]:
#GPA

In [6]:
gpa = df["GPA"]
gpa

0      73.47
1      71.22
2      74.56
3      72.89
4      70.11
       ...
100    88.34
101    89.84
102    88.82
103    86.60
104    93.71
Name: GPA, Length: 105, dtype: float64

In [7]:
gpa.std()

6.053186529520807

In [8]:
gpa.var()

36.64106716117215

In [9]:
rangeg = max(gpa) - min(gpa)   #range 
rangeg

30.21999999999999

In [10]:
q3g = np.percentile(gpa,75)
q1g = np.percentile(gpa,25)

In [11]:
IQRg = q3g - q1g
IQRg

7.959999999999994

In [12]:
lowerg = q1g - (1.5 * IQRg)
upperg = q3g + (1.5 * IQRg)

In [13]:
lowerg

67.4

In [14]:
upperg

99.23999999999998

In [15]:
#calculus

In [16]:
cal = df["Calculus1"]

In [17]:
cal.std()

12.197039213176515

In [18]:
cal.var()

148.76776556776557

In [19]:
rangec = max(cal) - min(cal)
rangec

62

In [20]:
q3c = np.percentile(cal,75)
q1c = np.percentile(cal,27)

In [21]:
IQRc = q3c - q1c
IQRc

15.0

In [22]:
upperc = q3c + (1.5 * IQRc)
lowerc = q1c - (1.5 * IQRc)
print(lowerc, ',', upperc)

42.5 , 102.5

In [23]:
#Algebra

In [24]:
alg = df["Algebra"]

In [25]:
rangealg = max(alg) - min(alg)
rangealg

52

In [26]:
q1a = np.percentile(alg,25)
q3a = np.percentile(alg,75)

In [27]:
IQRa = q3a-q1a
IQRa

17.0

In [28]:
loweralg = q1a -(1.5 * IQRa)
upperalg = q3a + (1.5 * IQRa)
print("lowerlimit : " , loweralg  , "upper limit : ", upperalg)

lowerlimit :  41.5 upper limit :  109.5

In [29]:
#calculus 2

In [30]:
calc = df["Calculus2"]

In [31]:
rangecalc = max(calc) - min(calc)
rangecalc

82

In [32]:
calc.std()

14.997325768942282

In [33]:
calc.var()

224.91978021978022

In [34]:
q3calc = np.percentile(calc,75)
q1calc = np.percentile(calc,25)
IQRcalc = q3calc - q1calc
IQRcalc

20.0

In [35]:
lowercalc = q1calc - (1.5* IQRcalc)
uppercalc = q3calc + (1.5 * IQRcalc)
print(f"lowerlimit :" ,lowercalc, "upper limit :", uppercalc)

lowerlimit : 41.0 upper limit : 121.0

In [36]:
#measure

In [37]:
me = df["Measure"]

In [38]:
rangeme = max(me) - min(me)
rangeme

46

In [39]:
q1me = np.percentile(me,25)
q3me = np.percentile(me,75)
IQRme = q3me- q1me
IQRme

15.0

In [40]:
lowerme = q1me -(1.5* IQRme)
upperme = q3me +(1.5 * IQRme)
print("lower limit :",  lowerme, "upper limit: ",  upperme)

lower limit : 51.5 upper limit:  111.5

In [41]:
#probability

In [42]:
pb = df["Probability"]

In [43]:
rangepb = max(pb)- min(pb)
rangepb

68

In [44]:
q1pb = np.percentile(pb,25)
q3pb = np.percentile(pb,75)
IQRpb = q3pb - q1pb
IQRpb

13.0

In [45]:
lowerpb = q1pb -(1.5 * IQRpb)
upperpb = q3pb +(1.5 * IQRpb)
print("lower limit :",  lowerpb, "upper limit: ",  upperpb)

lower limit : 59.5 upper limit:  111.5

In [46]:
sta = df["Statistics"]

In [47]:
ranges = max(sta)- min(sta)
ranges

49

In [48]:
q1s = np.percentile(sta,25)
q3s = np.percentile(sta,75)
IQRs = q3s - q1s
IQRs

12.0

In [49]:
lowers = q1pb -(1.5 * IQRs) 
uppers = q3pb + (1.5 * IQRs)
print("lower limit :",  lowers, "upper limit: ",  uppers)

lower limit : 61.0 upper limit:  110.0

In [50]:
df.head()

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51
4,1145,A,female,70.11,49,45,63,60,66,66,61

In [51]:
df.tail()

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
100,1241,A,female,88.34,87,83,92,98,93,86,90
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   105 non-null    int64
 1   class                105 non-null    object
 2   gender               105 non-null    object
 3   GPA                  105 non-null    float64
 4   Algebra              105 non-null    int64
 5   Calculus1            105 non-null    int64
 6   Calculus2            105 non-null    int64
 7   Statistics           105 non-null    int64
 8   Probability          105 non-null    int64
 9   Measure              105 non-null    int64
 10  Functional_analysis  105 non-null    int64
dtypes: float64(1), int64(8), object(2)
memory usage: 9.2+ KB

In [53]:
df.shape

(105, 11)

In [54]:
df.dtypes

ID                       int64
class                   object
gender                  object
GPA                    float64
Algebra                  int64
Calculus1                int64
Calculus2                int64
Statistics               int64
Probability              int64
Measure                  int64
Functional_analysis      int64
dtype: object

In [55]:
df.drop('ID',axis = 1)

,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,A,male,73.47,64,81,87,60,74,71,60
1,A,female,71.22,57,50,51,51,55,62,61
2,A,female,74.56,47,48,71,60,61,68,64
3,A,female,72.89,46,72,38,60,29,54,51
4,A,female,70.11,49,45,63,60,66,66,61
...,...,...,...,...,...,...,...,...,...,...
100,A,female,88.34,87,83,92,98,93,86,90
101,B,male,89.84,98,77,95,98,96,88,100
102,B,male,88.82,83,80,91,98,93,95,71
103,A,male,86.60,92,82,91,99,94,82,78
104,A,male,93.71,93,97,99,100,97,90,90

In [56]:
df.columns

Index(['ID', 'class', 'gender', 'GPA', 'Algebra', 'Calculus1', 'Calculus2',
       'Statistics', 'Probability', 'Measure', 'Functional_analysis'],
      dtype='object')

2. Which subject has highest average ?

In [57]:
average = df.loc[:,['Algebra', 'Calculus1', 'Calculus2',
       'Statistics', 'Probability', 'Measure']].mean()
average

Algebra        76.057143
Calculus1      71.961905
Calculus2      78.942857
Statistics     85.133333
Probability    83.876190
Measure        80.761905
dtype: float64

In [58]:
average.idxmax()  #statictics is the highest average subject

'Statistics'

3.What are the Student IDs who got more tham 80% GPA?

In [59]:
df[df["GPA"] > 80]["ID"]

11     1152
13     1154
14     1155
15     1156
17     1158
       ...
100    1241
101    1242
102    1243
103    1244
104    1245
Name: ID, Length: 76, dtype: int64

4. How many female students are there in the class?

In [60]:
f = sum(df["gender"] ==  'female')
f

68

5. What is the ratio of male students and female students?

In [61]:
m = sum(df['gender'] == 'male')
m

37

In [62]:
print(f ,':', m)

68 : 37

6. What are the marks of male students in statistics ?

In [63]:
df.loc[df["gender"] == 'male', ["Statistics"]]

     Statistics
0            60
5            61
6            63
10           69
13           73
14           76
16           76
17           76
18           76
19           78
20           78
21           78
24           80
28           83
31           83
32           83
33           83
40           85
47           87
50           87
59           89
61           89
65           90
72           92
78           92
82           92
89           94
90           95
92           95
96           97
97           97
98           97
99           97
101          98
102          98
103          99
104         100

7. What is the ID of the class topper ?

In [64]:
t = df.loc[df["GPA"].argmax()]

In [65]:
topper = t["ID"]
topper

1245

8. What is the gender of probabilty topper?

In [66]:
p = df.loc[df["Probability"].argmax()]

In [67]:
pt = p["gender"]
pt

'female'

9. Create Pivot Table for gender and class?

In [68]:
df.loc[:, ["gender", "class"]]

     gender class
0      male     A
1    female     A
2    female     A
3    female     A
4    female     A
..      ...   ...
100  female     A
101    male     B
102    male     B
103    male     A
104    male     A

[105 rows x 2 columns]

10. Which subject got least average marks.?

In [69]:
l = (df.loc[:,['Algebra','Calculus1','Calculus2','Statistics','Probability','Measure']].mean())

In [70]:
l.idxmin()

'Calculus1'

11. How many male and female students are there ?

In [71]:
sum(df["gender"] == 'female' )  #total number of female

68

In [72]:
sum(df["gender"] == 'male' )

37

12. How many female student are there from class A?

In [73]:
sum((df["class"] == 'A') & (df["gender"] == "female"))

48

13. Which class has more strength ?

In [74]:
df["class"].value_counts()

class
A    76
B    29
Name: count, dtype: int64

14.Sort the data as per algebra ?

In [75]:
df.sort_values("Algebra")

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
3,1144,A,female,72.89,46,72,38,60,29,54,51
2,1143,A,female,74.56,47,48,71,60,61,68,64
4,1145,A,female,70.11,49,45,63,60,66,66,61
1,1142,A,female,71.22,57,50,51,51,55,62,61
9,1150,A,female,76.50,60,61,60,69,73,60,62
...,...,...,...,...,...,...,...,...,...,...,...
65,1206,A,male,86.37,95,76,87,90,86,94,84
75,1216,A,female,91.90,95,86,96,92,95,90,95
87,1228,A,female,88.62,95,65,97,94,97,85,85
97,1238,A,male,91.14,98,90,98,97,83,93,89
101,1242,B,male,89.84,98,77,95,98,96,88,100

15. How many students got exactly 64 marks from functional analysis?

In [76]:
sum(df['Functional_analysis'] == 64)

8