
1. What are the column names in the Iris dataset?
2. How many rows and columns are there in the dataset?
3. Can you provide a summary of the dataset, including mean, median, and other statistics for each feature?
4. What is the average sepal length?
5. what is the largest petal length, and what is its value? 
6. What is the mean and standard deviation of petal width for the Setosa species?
7. Check for missing values in the dataset 
8. Extract the `Species` column using loc and iloc method
9. Drop `sepal Width` column
10. Get `petalwidth` 10th value using at and iat

In [1]:
import numpy as np
import pandas as pd

In [2]:
import os
os.getcwd()

'C:\\Users\\india\\My Python Files\\Pandas_Task'

In [3]:
df = pd.read_excel('Iris_clean.xlsx')

In [4]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,10.2,Iris-setosa
4,5,50.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
160,161,7.7,2.8,6.7,2.0,NaN
161,162,6.3,2.7,4.9,1.8,Iris-virginica
162,163,7.2,3.6,6.1,2.5,Iris-virginica
163,164,6.5,3.2,5.1,2.0,Iris-virginica
164,165,6.4,2.7,5.3,1.9,Iris-virginica

#### What are the column names in the Iris dataset?

In [6]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

#### How many rows and columns are there in the dataset?

In [8]:
df.shape #there are 165 rows and 6 columns in the dataset

(165, 6)

#### Can you provide a summary of the dataset, including mean, median, and other statistics for each feature?

In [52]:
a = df.describe()
a

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  165.000000     161.000000    159.000000     159.000000    165.000000
mean    83.000000       7.510559      4.713208       4.022642      2.810909
std     47.775517      11.162995     13.468999       2.052505     12.097722
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     42.000000       5.100000      2.800000       1.600000      0.400000
50%     83.000000       5.800000      3.000000       4.500000      1.500000
75%    124.000000       6.500000      3.300000       5.150000      1.900000
max    165.000000     116.300000    130.000000      13.800000    111.100000

In [10]:
a = df['Id']
a

0        1
1        2
2        3
3        4
4        5
      ...
160    161
161    162
162    163
163    164
164    165
Name: Id, Length: 165, dtype: int64

In [11]:
a.mean()

83.0

In [14]:
a.var()

2282.5

In [15]:
a.std()

47.775516742365014

In [17]:
range_id = max(a) - min(a)
range_id

164

In [19]:
sl = df['SepalLengthCm']
sl

0       5.1
1       4.9
2       4.7
3       4.6
4      50.0
       ...
160     7.7
161     6.3
162     7.2
163     6.5
164     6.4
Name: SepalLengthCm, Length: 165, dtype: float64

In [20]:
sl.mean()

7.510559006211181

In [21]:
sl.median()

5.8

In [22]:
sl.var()

124.61245031055901

In [23]:
sl.std()

11.162994683800536

In [25]:
range_sl = max(sl)- min(sl)
range_sl

112.0

In [27]:
sw = df['SepalWidthCm']
sw

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
160    2.8
161    2.7
162    3.6
163    3.2
164    2.7
Name: SepalWidthCm, Length: 165, dtype: float64

In [29]:
sw.mean()

4.713207547169812

In [30]:
sw.median()

3.0

In [31]:
sw.var()

181.41393838070218

In [32]:
sw.std()

13.468999160320049

In [34]:
range_sw = max(sw) - min(sw)
range_sw

128.0

In [35]:
pl = df["PetalLengthCm"]

In [36]:
pl.mean()

4.022641509433963

In [38]:
pl.median()

4.5

In [39]:
pl.var()

4.212775256747074

In [40]:
pl.std()

2.052504630140228

In [42]:
range_pl = max(pl)- min(pl)
range_pl

12.8

In [44]:
pw = df['PetalWidthCm']

In [45]:
pw.mean()

2.810909090909091

In [46]:
pw.median()

1.5

In [47]:
pw.std()

12.097722110632041

In [48]:
pw.var()

146.35488026607536

In [50]:
range_pw = max(pw) - min(pw)
range_pw

111.0

#### what is the average sepal length?

In [51]:
sl

0       5.1
1       4.9
2       4.7
3       4.6
4      50.0
       ...
160     7.7
161     6.3
162     7.2
163     6.5
164     6.4
Name: SepalLengthCm, Length: 165, dtype: float64

In [53]:
sl.mean()

7.510559006211181

#### what is the largest petal length, and what is its value?

In [58]:
pl

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
160    6.7
161    4.9
162    6.1
163    5.1
164    5.3
Name: PetalLengthCm, Length: 165, dtype: float64

In [60]:
pl.max()

13.8

#### What is the mean and standard deviation of petal width for the Setosa species?

In [64]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,10.2,Iris-setosa
4,5,50.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
160,161,7.7,2.8,6.7,2.0,NaN
161,162,6.3,2.7,4.9,1.8,Iris-virginica
162,163,7.2,3.6,6.1,2.5,Iris-virginica
163,164,6.5,3.2,5.1,2.0,Iris-virginica
164,165,6.4,2.7,5.3,1.9,Iris-virginica

In [68]:
setosa = df.iloc[1:50,4:6]
setosa

    PetalWidthCm      Species
1            0.2  Iris-setosa
2            0.2  Iris-setosa
3           10.2  Iris-setosa
4            0.2  Iris-setosa
5            0.4          NaN
6            0.3  Iris-setosa
7            0.2  Iris-setosa
8            0.2  Iris-setosa
9            0.1  Iris-setosa
10           0.2  Iris-setosa
11           0.2  Iris-setosa
12          10.1  Iris-setosa
13           0.1  Iris-setosa
14           0.2  Iris-setosa
15           0.4  Iris-setosa
16           0.4  Iris-setosa
17           0.3  Iris-setosa
18           0.3  Iris-setosa
19           0.3  Iris-setosa
20           0.2  Iris-setosa
21           0.4  Iris-setosa
22           0.2  Iris-setosa
23           0.5  Iris-setosa
24           0.2  Iris-setosa
25           0.2  Iris-setosa
26           0.4  Iris-setosa
27           0.2  Iris-setosa
28         110.2  Iris-setosa
29           0.2  Iris-setosa
30           0.2  Iris-setosa
31           0.4  Iris-setosa
32           0.1  Iris-setosa
33           0.2  Iris-setosa
34           0.1  Iris-setosa
35           0.2  Iris-setosa
36           0.2  Iris-setosa
37           0.1  Iris-setosa
38           0.2  Iris-setosa
39           0.2  Iris-setosa
40           0.3  Iris-setosa
41           0.3  Iris-setosa
42           0.2  Iris-setosa
43           0.6          NaN
44           0.4  Iris-setosa
45           0.3  Iris-setosa
46           0.2  Iris-setosa
47           0.2  Iris-setosa
48           0.2  Iris-setosa
49           0.2  Iris-setosa

In [69]:
pw

0       0.2
1       0.2
2       0.2
3      10.2
4       0.2
       ...
160     2.0
161     1.8
162     2.5
163     2.0
164     1.9
Name: PetalWidthCm, Length: 165, dtype: float64

In [70]:
pw.mean()

2.810909090909091

In [71]:
pw.std()

12.097722110632041

In [73]:
pw.median()

1.5

#### Check for missing values in the dataset

In [79]:
mv = df.isnull()
mv.sum()

Id               0
SepalLengthCm    4
SepalWidthCm     6
PetalLengthCm    6
PetalWidthCm     0
Species          5
dtype: int64

#### Extract the Species column using loc and iloc method

In [36]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,10.2,Iris-setosa
4,5,50.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
160,161,7.7,2.8,6.7,2.0,NaN
161,162,6.3,2.7,4.9,1.8,Iris-virginica
162,163,7.2,3.6,6.1,2.5,Iris-virginica
163,164,6.5,3.2,5.1,2.0,Iris-virginica
164,165,6.4,2.7,5.3,1.9,Iris-virginica

In [37]:
df.loc[:,'Species']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
160               NaN
161    Iris-virginica
162    Iris-virginica
163    Iris-virginica
164    Iris-virginica
Name: Species, Length: 165, dtype: object

In [38]:
df.iloc[:,[5]]

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
160             NaN
161  Iris-virginica
162  Iris-virginica
163  Iris-virginica
164  Iris-virginica

[165 rows x 1 columns]

#### Drop sepal Width column

In [40]:
df.drop('SepalWidthCm', axis = 1)

      Id  SepalLengthCm  PetalLengthCm  PetalWidthCm         Species
0      1            5.1            1.4           0.2     Iris-setosa
1      2            4.9            1.4           0.2     Iris-setosa
2      3            4.7            1.3           0.2     Iris-setosa
3      4            4.6            1.5          10.2     Iris-setosa
4      5           50.0            1.4           0.2     Iris-setosa
..   ...            ...            ...           ...             ...
160  161            7.7            6.7           2.0             NaN
161  162            6.3            4.9           1.8  Iris-virginica
162  163            7.2            6.1           2.5  Iris-virginica
163  164            6.5            5.1           2.0  Iris-virginica
164  165            6.4            5.3           1.9  Iris-virginica

[165 rows x 5 columns]

#### Get petalwidth 10th value using at and iat

In [48]:
df.at[9,'PetalWidthCm']  #using at

0.1

In [49]:
df.iat[9,4]   #using iat

0.1